# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Debug
/Debug
/Twitter_Analytics/bin
/Twitter_Analytics/Debug
/Twitter_Analytics/obj
/Twitter_Analytics/x64

#CodeBlocks
/Twitter_Analytics/Twitter_Analytics.cbp

#VisualStudio
/Twitter_Analytics/Twitter_Analytics.depend
/Twitter_Analytics/Twitter_Analytics.layout
/Twitter_Analytics/Twitter_Analytics.vcxproj
/Twitter_Analytics/Twitter_Analytics.vcxproj.filters
/Twitter_Analytics/Twitter_Analytics.vcxproj.user
/.vs
/Twitter_Analytics.layout
/Twitter_Analytics.sln

/.idea
/Twitter_Analytics/.idea

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/
